.container {
    background-color: orangered;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.text {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

.textCapit {
    text-transform: capitalize;
}

.linkDecor {
    color: #3cb878;
}

.linkDecor:hover {
    text-decoration: underline;
}

.linkDecor:active {
    color: #008878;
}

.rightPos {
    position: absolute;
    right: 0;
}

.headLine {
    height: 8vh;
    background-color: rgba(40, 40, 40, 0.5);
    position: relative;
    min-width: 600px;
}

.logo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 7%;
    top: 18px;
}

.headLineRight {
    position: absolute;
    right: 7%;
    top: 17px;
    width: 385px;
}

.text.logo:hover {
    color: #3cb878;
}

.iconsHeadLine {
    display: block;
    width: 150px;
    height: 30px;
    position: relative;
}

.iconsHeadLine span {
    background: url("../img/css_sprites.png") no-repeat;
    display: inline-block;
    width: 45px;
    height: 21px;
    cursor: pointer;
}

.iconsHeadLine .calendar {
    background-position: -96px 0;
}

.iconsHeadLine .calendar:hover {
    background-position: -96px -40px;
}

.iconsHeadLine .forum {
    background-position: 0 0;
}

.iconsHeadLine .forum:hover {
    background-position: -48px 0;
}

.iconsHeadLine .journey {
    background-position: 7px -40px;
}

.iconsHeadLine .journey:hover {
    background-position: -33px -40px;
}

.textWellcome {
    position: absolute;
    display: block;
    width: 200px;
    border-left: 1px solid black;
    padding-left: 28px;
    top: 5px;
    right: 0;
}

.main {
    position: relative;
    height: 92vh;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.form {
    position: absolute;
    width: 444px;
    height: 584px;
    display: block;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    margin-left: -222px;
    margin-top: -292px;
}

.formHead {
    position: relative;
    height: 20px;
    margin-top: 30px;
    box-sizing: border-box;
}

.greenBox {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    border: 1px solid #3cb878;
    position: absolute;
    left: -1px;
}

.formHeadName {
    font-size: 20px;
    position: absolute;
    left: 60px;
    color: black;
}

.formHeadLogIn {
    position: absolute;
    right: 60px;
}

.formMain {
    position: absolute;
    margin-top: 12px;
    margin-right: 60px;
    margin-left: 60px;
}

.enterWithAccount {
    /*border: 1px solid transparent;*/
    width: 322px;
    height: 46px;
    position: relative;
    outline: none;
}

.accountButton {
    width: 157px;
    height: 46px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.accountButtonText {
    font-size: 16px;
    padding-left: 15px;
    right: 15px;
    top: 13px;
}

.facebookStyle {
    background-color: #264b96;
    border: 1px solid #264b96;
    transition: ease all 80ms;

}

.facebookLogo {
    background-image: url("../img/facebook1@1X.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 12px;
    padding-right: 10px;
    border-right: 1px solid #224387;
}

.googleStyle {
    background-color: #c3412c;
    border: 1px solid #c3412c;
    position: absolute;
    top: 0;
    transition: ease all 80ms;
}

.googleLogo {
    background-image: url("../img/G+@1X.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 13px;
    top: 14px;
    padding-right: 17px;
    border-right: 1px solid #af3a28;
}

.googleStyle:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 3px 3px darkgray;
}

.googleStyle:active {
    background-color: #e14b33;
    border: 1px solid #e14b33;
    transform: scale(0.95);
    box-shadow: none;
}

.facebookStyle:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 3px 3px darkgray;
}

.facebookStyle:active {
    background-color: #315fbe;
    border: 1px solid #315fbe;
    transform: scale(0.95);
    box-shadow: none;
}

.or {
    overflow: hidden;
    width: 322px;
    height: 46px;
    text-align: center;
    line-height: 4em;
    color: #626262;
}

.or:before, .or:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #a6a6a6;
    border: solid white;
    border-width: 0 22px;
}

.or:before {
    margin-left: -100%;
}

.or:after {
    margin-right: -100%;
}

.blockStyle {
    margin-top: 12px;
}

.fieldStyle {
    width: 100%;
    height: 46px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
    transition: all ease-in-out 200ms;
}

input[type=text].fieldStyle::placeholder {
    color: #a2a2a2;
    font-weight: lighter;
}

input[type=text].fieldStyle:hover {
    background-color: #dddddd;
    border: 1px solid #dddddd;
    transform: scale(1.05);
    box-shadow: 0 2px 2px black;
}

input[type=text].fieldStyle:focus {
    box-shadow: 0 4px 5px black;
    border: 1px solid transparent;
}

.createAccount {
    background-color: #3cb878;
    border-color: #3cb878;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: ease all 80ms;
}

.createAccount:hover {
    box-shadow: 0 5px 3px darkgrey;
    transform: scale(1.05);
}

.createAccount:active {
    background-color: #41c882;
    border-color: #41c882;
    transform: scale(0.98);
    box-shadow: none;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    outline: none;
}

label {
    box-sizing: border-box;
    height: 27px;
    display: inline-block;
    position: relative;
}

.checkboxDelete {
    position: relative;
    z-index: -1;
}

.checkboxCustom {
    width: 19px;
    height: 18px;
    outline: none;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #ababab;
    background: linear-gradient(#eeeeee, #eeeeee, #eeeeee, #dddddd, #cccccc);
    box-shadow: 0 1px 1px #606060;
    position: absolute;
    top: 3px;
    left: 4px;
}

input[type=checkbox]:checked + .checkboxCustom:before {
    content: "\2713";
    position: absolute;
    font-weight: bolder;
    color: #3cb878;
    outline: none;
    left: 3px;
    top: 1px;
    border: 1px solid transparent;
    font-size: 0.9em;
}

.termsConditions {
    position: absolute;
    width: 250px;
    top: 4px;
    left: 40px;
}

label:hover .checkboxCustom {
    border: 1px solid #777777;
    background: linear-gradient(#eeeeee, #eeeeee, #eeeeee, #dddddd, #cccccc);
    box-shadow: 0 2px 2px #303030;
    transform: scale(1.05);
}

label:active .checkboxCustom{
    border: 1px solid #bbbbbb;
    background: linear-gradient(#ffffff, #ffffff, #ffffff, #eeeeee, #dddddd);
    box-shadow: none;
    transform: scale(0.95);
}

.marginMore {
    margin: 10px 0 20px;
}

.footerDimensions {
    height: 50px;
}